body {
    overflow-y: scroll;
}

.navbar-brand {
    padding: 5px;
    margin-right: 50px;
}

.navbar-nav li {
    margin: 0 5px;
    font-size: medium;
}

.navbar-nav li:hover {
    background-color: rgb(230, 230, 230);
}


/* 大标题 */

h1 {
    font-size: xx-large;
    margin-top: 30px;
    text-align: center;
}


/* 小标题 */

h2 {
    font-size: medium;
    color: rgb(125, 125, 125);
    text-align: end;
}


/* 段落标题 */

h3 {
    font-size: x-large;
    margin-top: 30px;
    text-align: center;
}


/* 段落正文 */

p {
    font-size: larger;
    margin-top: 20px;
    line-height: 1.5;
    text-align: justify;
}


/* 图像框 */

.img-box {
    text-align: center;
    margin: 20px 0;
}

.img-box img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}